@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.main-container{
  margin: auto;
  margin-top: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

}
.todo-input{
  height: 60px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 60px;
  font-size: 18px;
  color: #9394A5;
}
.todos-footer-container{
  border-radius: 5px;
}
@media only screen and (max-width :700px){
  .main-container{
    width: 90%;
    margin-top: 20px;
    gap: 30px;
  }
}