*{
  margin: 0;
}
.image-container{
  /* background-color: black;
  background-image: url(../../images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;

}
.mode-converter{
  height: 100px;
  background-image: url(../../images/icon-moon.svg);
}
.todo-text{
  width: 500px;
  text-align:start;
  color: aliceblue;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
}
label::before {
  background-image: url(../../images/icon-moon.svg);
}
.mode-label{
  background-image: url(../../images/icon-moon.svg);
  background-size: contain;
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
input[type=checkbox].mode-converter{
   display: none;
  }
:checked + .mode-label{
  background-image: url(../../images/icon-sun.svg);
  background-size: contain;
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}