*{
  margin: 0;
}
.image-container{
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;

}
.mode-converter{
  height: 100px;
  background-image: url(../../images/icon-moon.svg);
}
.todo-text{

  text-align:start;
  color: aliceblue;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
}
label::before {
  background-image: url(../../images/icon-moon.svg);
}
.mode-label{
  background-image: url(../../images/icon-moon.svg);
  background-size: contain;
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
input[type=checkbox].mode-converter{
   display: none;
  }
:checked + .mode-label{
  background-image: url(../../images/icon-sun.svg);
  background-size: contain;
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
@media only screen and (max-width :500px){
 .image-container{
   width: 90%;
   padding-top: 50px;
   justify-content: space-between;
   margin: auto;
 }
 .todo-text{
   width: auto;
   text-align:center;
  
 }
}
