@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.App {
  text-align: center;
  /* background-image: url(./images/bg-desktop-light.jpg); */
  /* background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;

}
/* @media only screen and (max-width :375px){
  .App{
     background-image: url(./images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: auto 20vh;
  min-height: 100vh;
  }
 
} */



